[submodule "Full Stack/Pollak-Csengo-Thesis"]
	path = Full Stack/Pollak-Csengo-Thesis
	url = https://github.com/Valid-Hub/Pollak-Csengo-Thesis.git
[submodule "Full Stack/Full Stack/PlateMate"]
	path = Full Stack/Full Stack/PlateMate
	url = https://github.com/Valid-Hub/PlateMate.git
[submodule "Full Stack/PlateMate"]
	path = Full Stack/PlateMate
	url = https://github.com/Valid-Hub/PlateMate.git
