[submodule "Full Stack/Pollak-Csengo-Thesis"]
	path = Full Stack/Pollak-Csengo-Thesis
	url = https://github.com/Valid-Hub/Pollak-Csengo-Thesis.git
[submodule "Full Stack/Full Stack/PlateMate"]
	path = Full Stack/Full Stack/PlateMate
	url = https://github.com/Valid-Hub/PlateMate.git
[submodule "Full Stack/PlateMate"]
	path = Full Stack/PlateMate
	url = https://github.com/Valid-Hub/PlateMate.git
[submodule "Full Stack/Pollak-Esport-Backend"]
	path = Full Stack/Pollak-Esport-Backend
	url = https://github.com/Valid-Hub/Pollak-Esport-Backend.git
[submodule "Backend/Express/Pollak-Esport-Backend"]
	path = Backend/Express/Pollak-Esport-Backend
	url = https://github.com/Valid-Hub/Pollak-Esport-Backend.git
[submodule "Full Stack/Timetable"]
	path = Full Stack/Timetable
	url = https://github.com/Valid-Hub/Timetable.git
[submodule "Frontend/Html/Scientific-Calculator"]
	path = Frontend/Html/Scientific-Calculator
	url = https://github.com/Valid-Hub/Scientific-Calculator.git
[submodule "Full Stack/Employee-Manager"]
	path = Full Stack/Employee-Manager
	url = https://github.com/Valid-Hub/Employee-Manager.git
[submodule "C#/GAMF"]
	path = "C#/GAMF"
	url = https://github.com/Valid-Hub/GAMF.git
[submodule "C#/GAMF-Presentation"]
	path = "C#/GAMF-Presentation"
	url = https://github.com/Valid-Hub/GAMF-Presentation.git
[submodule "Exam/Mock-Exam-20250115"]
	path = Exam/Mock-Exam-20250115
	url = https://github.com/Valid-Hub/Mock-Exam-20250115.git
[submodule "Exam/Mock-Exam-20250312"]
	path = Exam/Mock-Exam-20250312
	url = https://github.com/Valid-Hub/Mock-Exam-20250312.git
[submodule "Backend/NestJS/EduCloud-Backend"]
	path = Backend/NestJS/EduCloud-Backend
	url = https://github.com/Valid-Hub/Educloud-Backend.git
[submodule "Frontend/React/Portfolio"]
	path = Frontend/React/Portfolio
	url = https://github.com/Valid-Hub/Portfolio.git
