[submodule "Full Stack/Pollak-Csengo-Thesis"]
	path = Full Stack/Pollak-Csengo-Thesis
	url = https://github.com/Valid-Hub/Pollak-Csengo-Thesis.git
[submodule "Full Stack/Full Stack/PlateMate"]
	path = Full Stack/Full Stack/PlateMate
	url = https://github.com/Valid-Hub/PlateMate.git
[submodule "Full Stack/PlateMate"]
	path = Full Stack/PlateMate
	url = https://github.com/Valid-Hub/PlateMate.git
[submodule "Full Stack/Pollak-Esport-Backend"]
	path = Full Stack/Pollak-Esport-Backend
	url = https://github.com/Valid-Hub/Pollak-Esport-Backend.git
[submodule "Backend/Express/Pollak-Esport-Backend"]
	path = Backend/Express/Pollak-Esport-Backend
	url = https://github.com/Valid-Hub/Pollak-Esport-Backend.git
[submodule "Full Stack/Timetable"]
	path = Full Stack/Timetable
	url = https://github.com/Valid-Hub/Timetable.git
[submodule "Frontend/Html/Scientific-Calculator"]
	path = Frontend/Html/Scientific-Calculator
	url = https://github.com/Valid-Hub/Scientific-Calculator.git
